<h1>Random List Item Chooser</h1>

<p> Welcome to the random list item chooser. Click below to add a new list.<br/>
	Your list is saved on the server, if you want to get back to it at a later date then bookmark, or save, the URL of your list!</p>
<h2><%= link_to 'New List', new_list_path %></h2>
