At <%= Time.now.strftime("%T") %> server time we selected for you the random item:

<h1 class="random"><%=@name%></h1>

<%= link_to image_tag("refresh_button.gif", :class=>"random"), {:action => 'random'} %>

<p>Hit the big refresh button to select another random item or click <%= link_to 'Back', @list %>.</p>